<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>iCan Chat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${APP_DISPLAY_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>iCanX</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>icanchat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alipay2019090266798748</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc03d8a36b9ee76fe</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>openinstall</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aqnqua</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixinULAPI</string>
		<string>icanStore</string>
		<string>icanmall</string>
		<string>mqq</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>icanGems</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>如果不允许，你将无法在我行中拍摄照片以及使用扫描二维码功能</string>
	<key>NSContactsUsageDescription</key>
	<string>我行访问您的通讯录为你匹配好友或者用于话费充值</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>"我行"需要使用你的位置信息用于行车导航的路径规划</string>
	<key>NSLocationUsageDescription</key>
	<string>您的位置信息将用来获取所在地的附近信息，帮助您与附近的人更方便的沟通交流</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>您的位置信息将用来获取所在地的附近信息，帮助您与附近的人更方便的沟通交流</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>如果不允许，你将无法在我行录音用于发送语音消息</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果不允许，你将无法在我行使用手机中的图片和视频</string>
	<key>UIAppFonts</key>
	<array>
		<string>DINMittelschrift-Alternate.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>com.openinstall.APP_KEY</key>
	<string>aqnqua</string>
</dict>
</plist>
